*{
	margin: 0;
	box-sizing: border-box;
	font-family:  'poppins', sans-serif;
}
.body{
	display:flex;
	align-items: center;
	min-height: 100vh;
	background: #675AFE;
}
p.head{
	text-align:center;
	justify-content: center;
	width: 370px;
	color: #675AFE;
	font-size:40px;
}
.box{
	justify-content: center;
	width: 370px;
	background: #fff;
	padding: 30px;
	border-radius: 7px;
}
.box p.cc{
	text-align: center;
	font-size: 30px;
}
.box1{
	padding-left:20px;
	float: left;
	width: 370px;
	background: #fff;
	padding: 30px;
	border-radius: 7px;
}
.box1 p.cc{
	text-align: center;
	font-size: 30px;
}
div.box2{
	padding-right: 50px;
	justify-content: center;
	width: 370px;
	background: #fff;
	padding: 30px;
	border-radius: 7px;
}
.box2 p.cc{
	text-align: center;
	font-size: 30px;
}
.box3{
	justify-content: center;
	width: 370px;
	background: #fff;
	padding: 30px;
	border-radius: 7px;
}
.box3 p.cc{
	text-align: center;
	font-size: 30px;
}
form :where(input, select, button){
	width: 100%;
	outline: none;
	border:none;
}
form input{
	height: 50px;
	padding: 0 15px;
	border: 1px solid #000;
	border-radius: 4px;
	font-size:18px;
}
form input:focus{
	padding: 0 14px;
	border: 2px solid #675AEF;
}
form .drop-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}
.drop-list .sel{
	display: flex;
	width: 115px;
	height: 45px;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	border-radius: 4px;
}
.sel select{
	width: auto;
	font-size: 15px;
}
.sel img{
	max-width: 25px;
}
.drop-list .icon{
	cursor: pointer;
	margin-top: 20px;
}
.drop-list  .exchange{
	font-size: 18px;
	margin: 20px 0 30px;
}
form button{
	height: 52px;
	color: #fff;
	background: #675AEF;
	cursor: pointer;
	font-size: 18px;
	border-radius: 4px;
	margin-top: 10px;
}